.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.h1{
  color: var(--gold-color);
  font-size: 40px;
  font-weight: bold;

}

.cardContainer {

  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cardContainer {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    
  }
}

@media (max-width: 350px) {
  .cardContainer {
    padding: 0.5rem;
  }
}