
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; 
    background-color: #f0f0f0;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 450px) {
    .sidebar {
      width: 150px; 
    }
  }
  
  @media screen and (max-width: 350px) {
    .sidebar {
      width: 100px; 
    }
  }
  