.footer {
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='281' viewBox='0 0 1440 281' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.59529L73.1186 2.10446C110.587 -0.196783 148.195 1.72884 185.233 7.84491L494.966 58.9918C542.079 66.7717 590.064 67.7625 637.458 61.9341L1108.75 3.97575C1167.78 -3.2832 1227.62 0.0465884 1285.48 13.8086L1440 50.5626V280.5H0V6.59529Z' fill='%23F0F0F2'/%3E%3C/svg%3E");
    padding: 50px 0;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo__link {
    text-decoration: none;
  }
  .logo {
    color: var(--gold-color);
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .navigation {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
  }
  
  .navigation li {
    /* margin-right: 25px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin: 3.2px;
    font-size: 20px;
  }
  
  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation a {
    color: var(--dpurple-color);
    text-decoration: none;
  }
  
  
  .socialMedia {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    font-size: 22px;
    /* margin-right: 29px; */
    color: var(--dpurple-color);
    font-weight: bold;
    display: flex;
    margin: 8px;
   
    
  }
  
  .imageContainer img {
    max-width: 150px;
    height: auto;
  }
  @media (max-width: 768px) {
    /* .footer{
        background-position: center;
    } */
    .section {
      max-width: 90%;
      flex-direction: column;
    }
  
    .navigation {
      flex-direction: row;
      margin-bottom: 0;
    }
  
    .navigation li {
      margin: 1rem;
      font-size: 1.2rem;
    }
  
    .icon {
      font-size: 1.8rem;
      margin: 0.5rem;
    }
  
    .imageContainer img {
      max-width: 100%;
      padding-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .navigation {
      flex-wrap: wrap;
    }
  
    .icon {
      font-size: 1.5rem;
    }
  
    .imageContainer img {
      height: 150px; /* Or adjust as needed */
    }
  }
